{% extends "AppBundle::layout.html.twig" %}

{% block body %}

{% if listUsers is defined %}
    {% for user in listUsers %}
        <ul class="collection">
            <a href="{{ path('user_find', {'id': user.id}) }}">
                <li class="collection-item avatar" style="color: black;">
                    <img src={{ asset("uploads/"~user.pictureName) }} alt={{ user.username}} class="circle">
                    <span class="title">{{ user.username|upper  }} ( {{ user.firstname|capitalize }} {{ user.lastname|capitalize }} ) de {{ user.city }}.</span>
                    <p>Avec comme {{ user.animal.kind }}: {{ user.animal.name|upper }}, {{ user.animal.race|capitalize }} {{ user.animal.gender|lower }} de {{ user.animal.age|number_format }}ans </p>
                    <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                </li>
            </a>
        </ul>
    {% endfor %}
{%  else %}
    <p> Aucun résultat n'a été trouvé pour votre recherche </p>
{% endif %}

{% endblock %}