{% block header %}

	<nav>
		<div class="nav-wrapper transparent">
			<a href="{{ path('homepage') }}" class="brand-logo">PetMeeting</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				{% if app.user %}
					<li>
						<form action="{{ path('app_search') }}" class="search">
							<input type="text" name="search" class="submit_search">
						</form>
					</li>
					<li><a href="{{ path('app_advanced_search') }}">Recherche avancée</a></li>
					<li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
					<li><a href="{{ path('app_access_mail') }}">Message</a></li>
					{% if app.user.status == "classic" %}
						<li><a href="{{ path('app_view_offers') }}" class="waves-effect waves-light btn pink lighten-1"><span class="fa fa-star-o"></span> Devenez Prémium</a></li>
					{% endif %}
				{% else %}
					<li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
					<li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>

{% endblock %}