{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'UserBundle' %}

{% block app_title %}
Vous inscrire sur PetMeeting
{% endblock app_title %}

{% block app_background %}couplebg{% endblock app_background %}

{% block body %}

<div class="container">
	<div class="row">

		<div class="col s12 card">
			<form action="{{ path("fos_user_security_check") }}" method="POST">

				{{ form_start(form) }}

				<div class="row">
					<h2>Vos informations</h2>
					<div class="col s6  ">

						{{ form_label(form.firstname) }}
						{{ form_widget(form.firstname) }}

						{{ form_label(form.lastname) }}
						{{ form_widget(form.lastname) }}

						{{ form_label(form.gender) }}
						{{ form_widget(form.gender) }}

						{{ form_label(form.picture) }}
						{{ form_widget(form.picture) }}

						{{ form_label(form.city) }}
						{{ form_widget(form.city) }}
					</div>
					<div class="col s6">

						{{ form_label(form.birthday) }}
						{{ form_widget(form.birthday) }}

						{{ form_label(form.biography) }}
						{{ form_widget(form.biography) }}

						{{ form_label(form.size) }}
						{{ form_widget(form.size) }}

						{{ form_label(form.weight) }}
						{{ form_widget(form.weight) }}

					</div>
				</div>

				<div class="row">
					<h2>Vos préférences</h2>
					<div class="col s6">
						{{ form_label(form.orientation) }}
						{{ form_widget(form.orientation) }}

						{{ form_label(form.meetingtype) }}
						{{ form_widget(form.meetingtype) }}
					</div>
					<div class="col s6">
						{{ form_rest(form) }}
					</div>
				</div>

				<div class="row">
					<div class="col s8 offset-s2">
						<h2>Vos animal</h2>
						{{ form_label(form.animal) }}
						{{ form_widget(form.animal) }}
					</div>
				</div>
				<input type="submit" value="{{ 'registration.submit'|trans }}" />

			</form>
		</div>
	</div>

	{{ form_end(form) }}

	<p>Vous êtes déjà inscrit ? <a href="{{ path("fos_user_security_login") }}">Cliquez ici</a>.</p>
</div>

{% endblock body %}
