{% extends "::base.html.twig" %}

{% block app_title %}{{ parent() }} inscription{% endblock app_title %}

{% block body %}

    <h1>Inscription</h1>

    {{ form_start(form) }}
        {{ form_label(form.email, "Email") }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}

        {{ form_label(form.username, "Identifiant") }}
        {{ form_widget(form.username) }}
        {{ form_errors(form.username) }}

        {{ form_label(form.plainPassword.first, "Mot de passe") }}
        {{ form_widget(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.first) }}

        {{ form_label(form.plainPassword.second, "Re-saisissez le mot de passe") }}
        {{ form_widget(form.plainPassword.second) }}
        {{ form_errors(form.plainPassword.second) }}

        {{ form_rest(form) }}

        <button type="submit">S'enregistrer</button>

    {{ form_end(form) }}

    <p>Vous êtes déjà inscrit ? <a href="{{ path("fos_user_security_login") }}">Cliquez ici</a>.</p>
{% endblock body %}
