{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

    <ul class="collection">
    {% for key,mail in acceptedWoof.mail %}
            <li class="collection-item"><b>{{ mail.text }}</b></li>
    {% endfor %}
    </ul>


    {{ form_start(form) }}

    {{ form_label(form.text) }}
    {{ form_widget(form.text) }}
    {{ form_errors(form.text) }}

    <input type="submit">

    {{ form_end(form) }}

{% endblock %}