{% extends "::base.html.twig" %}

{% block app_title %}{{ parent() }} Se connecter sur PetMeeting{% endblock app_title %}
{% block header %} {% endblock header %}

{% block app_background %}couplebg{% endblock app_background %}

{% block body %}

<div class="container">
	<div class="row">
		<br><br>
		<br><br>
		<div class="col s4 offset-s4">
			<img src="{{ asset('images/logo.png') }}" class="responsive-img" alt="" id="logo">
		</div>
		{% if error is not empty %}
		<div id="" class="col s4 offset-s4 red card">
			<h5>Veuillez vérifier votre identifiant et mot de passe</h5>
		</div>
		{% endif %}
		<div class="col s6 offset-s3 card">
			<form action="{{ path("fos_user_security_check") }}" method="POST">

				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
				<div class="input-field ">
					<input type="text" id="username" name="_username" value="{{ last_username }}" required>
					<label for="username">Identifiant</label>
				</div>

				<div class="input-field ">
					<label for="password">Mot de passe</label>
					<input type="password" id="password" name="_password" required="required">
				</div>

				<center>
					<input type="submit" id="_submit" name="_submit" class="btn" value="Connexion" >
					<br>
					<br>
					<a href="{{ path('fos_user_registration_register') }}" title="">Pas encore inscrit ?</a>
					-
					<a href="" title="">Mot de passe oublié ?</a>
					<br>
					<br>
				</center>


			</form>
		</div>
	</div>

	{% endblock body %}
