{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'UserBundle' %}

{% block body %}

<div class="row">
	<div class="col s4 profilPhotos">
		<img src="{{ asset('bundles/app/images/photo1.jpg') }}" alt="" id="profilPhoto">
		<img src="{{ asset('bundles/app/images/chat1.png') }}" alt="" id="petPhoto">
	</div>

	<div class="col s5 ">
		<div class="profilBioTitle bleu">
			<span class="iam">Salut, je suis</span>
			<span class="name">
				{% if user.firstname is defined %}
					{{ user.firstname }}
				{% else %}
					{{ user.username }}
				{% endif %}
			</span>
		</div>
		<span class="subProfil"><b>age</b></span>

		<br>

		<div class="profilBioTitle rose">
			<span class="iam">Salut, je suis</span>
			<span class="name">{{ user.animal.name }}</span>
		</div>
		<span class="subProfil"><b>{{ user.animal.kind|trans }} {{ user.animal.race }}</b></span>
		<br>
		<span class="subProfil bleu">On habite à <b>{{ user.city }}</b></span>
		<br><br>
			<div class="col s12 card-panel">
				{{ user.biography }}
			</div>
	</div>

	<div class="col s3 " id="likes" >
		<div id="cptLikes">
			<span class="cpt">
				{{ user.likes }}
			</span>
			<span class="fa fa-thumbs-o-up fa-4x">
			</span>
		</div>
		<a href="{{ path('app_send_woof', {'id': user.id}) }}" class="waves-effect waves-light btn-large" id="likeBtn"> Je Woof !</a>
	</div>
</div>

<div class="row" id="infosProfil">
	<div class="col  s5 card-panel bleuPanel">
		<div class="row" >
			<div class="col s12">
				<h4><span>
						Informations de
						{% if user.firstname is defined %}
							{{ user.firstname }}
						{% else %}
							{{ user.username }}
						{% endif %}
					</span></h4>
			</div>
		</div>
		<div class="row" >

			<div class="col s5 informationName">
				<span>Age</span>
				<span>Ville</span>
				<span>Age</span>
				<span>Age</span>
				<span>Age</span>
			</div>
			<div class="col s6 informationValue">
				<span>18 ans</span>
				<span>{{ user.city }}</span>
				<span>Age</span>
				<span>Age</span>
				<span>Age</span>
				<span>Age</span>
			</div>
		</div>

	</div>
	<div class="col  s2">

	</div>
	<div class="col s5 card-panel rosePanel">
		<div class="row" >
			<div class="col s12">
				<h4><span>Informations de {{ user.animal.name }}</span></h4>
			</div>
		</div>
		<div class="col s6 informationName">
		</div>
		<div class="col s6 informationValue">
		</div>

	</div>
</div>

{% endblock %}
